{% extends 'base.html.twig' %}

{% block title %}logistock
{% endblock %}

{% block body %}

	<div class="container-fluid">
		<div class="row text-center">
			<div class="col-md-12 mt-5 mb-5  ">
				<h1>Bienvenue sur logistock</h1>
			</div>
		</div>

	</div>

	<div class="container">
		<div class="row text-center row-custom-bg-accueil bg-gradient">

			<div class="col-3 border-top border-start bg-gradient m-5 mb-5 p-5  btn-pulse">PARC AUTOMOBILE</div>
			<div class="col-3 border-top border-start bg-gradient m-5 mb-5 p-5  btn-pulse">RESERVATION</div>
			<div class="col-3 border-top border-start bg-gradient m-5 mb-5 p-5  btn-pulse">FOURNITURES</div>
			<div class="col-3 border-top border-start bg-gradient m-5 mb-5 p-5  btn-pulse">GESTION DES ARMES</div>
			<div class="col-3 border-top border-start bg-gradient m-5 mb-5 p-5  btn-pulse">HABILLEMENT</div>
			<div class="col-3 border-top border-start bg-gradient m-5 mb-5 p-5  btn-pulse">PRET</div>


		</div>
	</div>
{% endblock %}
